@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "loading";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
}

body {
  background: black;
  font-family: 'Raleway', sans-serif;
  color: #eee;

  &.theme-alt {
    font-family: 'Georgia', serif;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.info {
  color: white;
  background-color: rgba(0,0,0,0.5);

  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 18px;
  font-weight: bold;

  padding: 6px;
}

.help {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: black;
}

.card {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  @include transform(scale(0.9) translateY(20%));
  &.current {
    opacity: 1;
    @include transform(scale(1) translateY(0));
  }
  &.off-deck {
    @include transform(scale(0.9) translateY(-20%));
  }
  @include single-transition(opacity 1s);
}

.tweet {
  padding: 15px;
  @include border-radius(5px);

  .tweet-body {
    font-size: 20px;
    margin-top: 12px;
    font-family: "Open Sans", serif;
  }

  .date {
    line-height: 48px;
    float: right;
  }

  .user-info {
    @include clearfix;

    .avatar {
      float: left;
      display: inline-block;
      width: 48px;
      height: 48px;
      @include border-radius(4px);
      vertical-align: middle;
      margin-right: 8px;
    }
    > span {
      float: left;
    }
    .user-name {
      font-weight: bold;
      line-height: 24px;
      display: block;
      color: #ccc;
    }
    .user-handle {
      line-height: 24px;
      display: block;
      color: #aaa;
    }
  }
}


.photo-card {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .tweet {
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: rgba(0,0,0,0.5);
  }
}

.text-card {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;

  .tweet {
    background-color: #222;
    border: solid 1px #444;
  }
}